<form [formGroup]="registerUserForm" (ngSubmit)="registerUserForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>

    <div class="mb-3">
        <label style="margin-right:10px">I am a:</label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> Female
        </label>
    </div>

    <app-text-input [formControl]="$any(registerUserForm.controls['username'])" [label]="'Username'"></app-text-input>
    <app-text-input [formControl]="$any(registerUserForm.controls['knownAs'])" [label]="'Knows As'"></app-text-input>
    <app-date-picker [formControl]="$any(registerUserForm.controls['dateOfBirth'])" [label]="'Date of Birth'"
        [maxDate]="maxDate"></app-date-picker>
    <app-text-input [formControl]="$any(registerUserForm.controls['city'])" [label]="'City'"></app-text-input>
    <app-text-input [formControl]="$any(registerUserForm.controls['country'])" [label]="'Country'"></app-text-input>
    <app-text-input [formControl]="$any(registerUserForm.controls['password'])" [label]="'Password'"
        type="password"></app-text-input>
    <app-text-input [formControl]="$any(registerUserForm.controls['confirmPassword'])" [label]="'Confirm Password'"
        type="password"></app-text-input>

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div>

    <!-- <div class="mb-3">
        <input type="text" class="form-control" name="username" formControlName="username" placeholder="Username"
            [class.is-invalid]="registerUserForm.get('username')?.errors && registerUserForm.get('username')?.touched">
        <div class="invalid-feedback">Please enter an username</div>
    </div> -->

    <!-- <div class="mb-3">
        <input type="password" class="form-control" name="pFassword" formControlName="password" placeholder="Password"
            [class.is-invalid]="registerUserForm.get('password')?.errors && registerUserForm.get('password')?.touched">
        <div class="invalid-feedback" *ngIf="registerUserForm.get('password')?.hasError('required')">Please enter a
            password</div>
        <div class="invalid-feedback" *ngIf="registerUserForm.get('password')?.hasError('minlength')">Password has to be
            at least 4 characters</div>
        <div class="invalid-feedback" *ngIf="registerUserForm.get('password')?.hasError('maxlength')">Password has to be
            at most 8 characters</div>
    </div> -->

    <!-- <div class="mb-3">
        <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword"
            placeholder="Confirm password"
            [class.is-invalid]="registerUserForm.get('confirmPassword')?.errors && registerUserForm.get('confirmPassword')?.touched">
        <div class="invalid-feedback" *ngIf="registerUserForm.get('confirmPassword')?.hasError('required')">Please enter
            a confirmation password</div>
        <div class="invalid-feedback" *ngIf="registerUserForm.get('confirmPassword')?.hasError('notMatching')">Confirm
            password must match password</div>
    </div> -->

    <div class="text-center">
        <button [disabled]="!registerUserForm.valid" class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>

</form>

<!-- <p>Form Value: {{registerUserForm.value | json}}</p>
<p>Form Status: {{registerUserForm.status | json}}</p> -->